body {
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	background-color:#B0C4DE;
}

#desc {
	column-count: 3;
}

.column {
	float: left;
	width: 33.33%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#content {
	margin: auto;
	padding: 20px;
}