body {
	font-family: sans-serif;
	background-color:#B0C4DE ;
	vertical-align: middle;
	font-size: 1.1em;
	height: 100vh;
}

td {
	width: 300px;
	padding: 10px 10px 10px 0px;
}

h1 {
	margin: 0
}

#capt {
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 10px;
}

.column {
	float: left;
	width: 33.33%;
	margin-top: 20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	/* width: 97.5vw;
	height: 95vh;
	margin-top: 1.5em;
	margin-left: 1em; */
	padding: 10vh 10% 10vh 10%;
	border-radius: 30px;
	background-color: #F0F8FF;
}

#header {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	padding: 3vh 20% 0 20%;
	text-align: center;
	margin-bottom: 18px;
}

#imgself {
    width: 230px;
    height: 260px;
    border-radius: 35px;
	object-fit: cover;
	margin-left:100px;
}

.icon {
	width: 70px;
    height: 70px;
	object-fit: cover;
	margin: 10px;
}

#contact {
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 30px;
}

.columntab {
	width: 100px;
	margin-bottom: 10px;
}

#riwayat {
	margin: auto;
}

.bio {
	margin-bottom: 10px;
}

.t {
	margin: 0;
}

.row {
	width: 70%;
	margin: auto;
}